@model IEnumerable<WebApplication4.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Пациенты</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addresss)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addresss)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPatient }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPatient }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPatient })
        </td>
    </tr>
}

</table>
